
/* Red */
.red { background-color: #FF6961; }

/* Pink */
.pink { background-color: #C780E8; }

/* Purple */
.purple { background-color: #9D94FF; }

/* Blue */
.blue { background-color: #59ADF6; }

/* Teal */
.teal { background-color: #08CAD1; }

/* Green */
.green { background-color: #42D6A4; }

/* Yellow */
.yellow { background-color: #F8F38D; }

/* Orange */
.orange { background-color: #FFB480; }


